{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Asignación masiva
            </h1>
            <h2 class="subtitle">
                Asigna masivamente Hits a un usuario
            </h2>
        </div>
    </div>
</section>
<hr>
<div class="container base">
    <form class="" method="post" novalidate>
        {% csrf_token %}

        <div class="field">
            <label class="label">Asignar hits a:</label>
            <div class="has-text-danger">{{ form.asignacion_disponible.errors }}</div>
            <div class="control">
                <div class="select">
                    {{ form.asignacion_disponible }}
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Seleccionar hits</label>
            <div class="has-text-danger">{{ form.hits.errors }}</div>
            <div class="control">
                <div class="select is-multiple">
                    {{ form.hits }}
                </div>
            </div>
        </div>

        <hr>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <input class="button is-primary" type="submit" value="Asignar">
            </p>
        </div>
    </form>
</div>
{% endblock %}