{% comment %} {% load static %}
<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Pacific">

        <title>{% block title %}{% endblock title %}</title>
        <link rel="icon" type="image/png" href="#">
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
       
        <link rel="stylesheet" type="text/css" href="{% static 'fomantic/node_modules/fomantic-ui-css/semantic.min.css' %}">
        <!-- /ganaderia/ganaderia/static/fomantic/node_modules/fomantic-ui-css/semantic.min.css -->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="{% static 'fomantic/node_modules/fomantic-ui-css/semantic.min.js' %}"></script>

    
        <!-- <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
        <script src="/dist/semantic.min.js"></script> -->

        {% block includes %}
        {% endblock includes %}
    </head>
    <body>
        <div class="">
            <div class="">
            <img src="{% static 'img/logo-PIASA.png' %}" class="" alt="">

            
            <form class="" id="login-form" action="{% url 'user:login' %}" method="POST">
                {% csrf_token %}
                <div class="">
                
                    <h3 class="">Ingresa a tu cuenta</h3>
            
                <div class="">
                    <div class="">
                    <i class=""></i>
                    <!-- <input type="text" name="email" placeholder="E-mail address"> -->
                    <input id="id_username" name="username" type="text" class="" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input id="id_password" name="password" type="password" class="" placeholder="Password">
                    </div>
                </div>
                <!-- <div class="ui fluid large teal submit button">Login</div> -->
                <input type="submit" value="Iniciar sesión" class="" />
                </div>

        
                <div class=""></div>
        
            </form>
            
            {% if form.errors %}
                <p class="ui error message transition">
                    Tu usuario o contraseña no es correcta, por favor intenta de nuevo
                </p>
            {% endif %}
            
            </div>
        </div>
    </body>
</html> {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html>

<head lang="es">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Percept">

  <title>{% block title %}Spy Agency{% endblock title %}</title>
  <link rel="icon" type="image/png" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  {% block includes %}
  {% endblock includes %}
</head>

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<body class="layout-default">
  <section class="hero is-fullheight is-medium is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <article class="card is-rounded">
                <div class="card-content">
                  <h1 class="title has-text-dark">
                    Spy Agency
                  </h1>
                  <form method="post" action="" novalidate>
                  {% csrf_token %}

                    <div class="field">
                      <label class="label">Ingresar correo</label>
                      <div class="has-text-danger">{{ form.username.errors }}</div>
                      <div class="control">
                        {{ form.username }}
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">{{ form.password.label }}</label>
                      <div class="has-text-danger">{{ form.password.errors }}</div>
                      <div class="control">
                        {{ form.password }}
                      </div>
                    </div>

                    <div class="field">
                      <button class="button is-primary is-medium is-fullwidth" type="submit" value="login">
                       Entrar
                      </button>
                    </div>

                    <div class="field">
                      <a class="button is-secondary is-fullwidth" href="{% url 'user:register' %}">
                       Registrarse
                      </a>
                    </div>

                    <p class="has-text-danger">
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="has-text-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </p>
                  <input type="hidden" name="next" value="{{ next }}">
                  </form>
                </div>
              </article>
            </div>
          </div>
    </div>
  </section>
</body>
{% endblock %}